<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isidoreofseville.swine">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".MainActivity" />
        <activity android:name=".Game" />

        <service
            android:name=".BroadcastService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Gameover" />
        <activity android:name=".Lose" />
        <activity android:name=".Win" />
        <activity android:name=".Winner" />
        <activity android:name=".Swine" />
        <activity android:name=".Video">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="activity_video" />
            </intent-filter>
        </activity>
        <activity android:name=".CategoriesActivity"></activity>
    </application>

</manifest>